<form>
  {{input value=changeset.firstName}}
  {{input value=changeset.lastName}}
  {{input value=changeset.contact.phone}}
  {{input value=changeset.contact.email}}
  <!--
  {{input value=changeset.aliases.[0]}}
  {{input value=changeset.aliases.[index]}}
  {{input value=(get changeset.aliases index)}}
  {{log (get changeset.aliases (concat '' index))}}
  {{input value=(get changeset.aliases (concat '' index))}}
  -->
  {{#each (array-indices changeset.aliases) as |idx|}}
    <!--
    {{input value=changeset.aliases.[idx]}}
    {{idx}}
    {{input value=(get (get changeset.aliases idx) name)}}
    {{input value=(get changeset.aliases.[idx] name)}}
    -->
    {{#with (get changeset.aliases idx) as |alias|}}
      {{input value=alias.name}}
    {{/with}}
  {{/each}}
    <!--
  {{#each model.aliases as |alias|}}
    {{input value=alias}}
  {{/each}}
    -->

  <button {{action submit changeset}}>Submit</button>
  <button {{action rollback changeset}}>Cancel</button>
</form>
